<!DOCTYPE html>
<html lang="en">
<head>
    <title>Getting Things Done</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-init="initPage()">

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Getting Things Done</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{boards[0].name}}
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="board in boards"><a href="#" ng-click="switchBoard(board.id)">{{board.name}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-4" ng-repeat="board in boardData | orderBy: 'column.id'">
            <div class="panel panel-default" style="height: 100vh">
                <div class="panel-heading">
                    <h2>{{board.column.name}}
                        <span style="float: right"><button type="button" class="btn btn-primary" data-toggle="modal"
                                                           data-target="#myModal"
                                                           ng-click="addTaskModal(board.column.id, board.column.name)"><span
                                class="glyphicon glyphicon-plus-sign"></span></button></span>
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default" ng-repeat="card in board.card.data._embedded.cards">
                        <div class="panel-heading">
                            <h3>{{card.name}}</h3>
                        </div>
                        <div class="panel-body">
                            bla
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'myModal.html'"></div>

<script src="webjars/jquery/3.2.0/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="webjars/angularjs/1.6.2/angular.min.js"></script>
<script src="js/myApp.js"></script>
<script src="js/myCtrl.js"></script>

</body>
</html>
