<!DOCTYPE html>
<html lang="en">
<head>
    <title>Getting Things Done</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-init="initPage()">

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Getting Things Done</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{boards[0].name}}
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="board in boards"><a href="#" ng-click="switchBoard(board.id)">{{board.name}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-4" ng-repeat="board in boardData | orderBy: 'column.id'">
            <div class="panel panel-default" style="height: 100vh">
                <div class="panel-heading">
                    <h2>{{board.column.name}}
                        <span style="float: right"><button type="button" class="btn btn-primary" data-toggle="modal"
                                                           data-target="#myModal"
                                                           ng-click="addTaskModal(board.column.name)"><span
                                class="glyphicon glyphicon-plus-sign"></span></button></span>
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default" ng-repeat="card in board.card.data._embedded.cards">
                        <div class="panel-heading">
                            <h3>{{card.name}}</h3>
                        </div>
                        <div class="panel-body">
                            bla
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add task ({{taskModalHeader}})</h4>
            </div>
            <form action="/action_page.php">
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">General</a></li>
                        <li><a data-toggle="tab" href="#dates">Dates</a></li>
                        <li><a data-toggle="tab" href="#subtasks">Subtasks</a></li>
                        <li><a data-toggle="tab" href="#comments">Comments</a></li>
                        <li><a data-toggle="tab" href="#timelog">Time log</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="desc">Description</label>
                                <textarea class="form-control" rows="5" id="desc"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="desc">Labels</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Label">
                                    <span class="input-group-btn">
                                        <button ng-click="addLabel()" type="button" class="btn btn-success"><span
                                                class="glyphicon glyphicon-ok-sign"></span></button>
                                    </span>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item"><button ng-click="removeLabel()" type="button" class="btn btn-danger"><span
                                            class="glyphicon glyphicon-remove-sign"></span></button> First item</li>
                                    <li class="list-group-item"><button ng-click="removeLabel()" type="button" class="btn btn-danger"><span
                                            class="glyphicon glyphicon-remove-sign"></span></button> Second item</li>
                                </ul>
                            </div>
                        </div>
                        <div id="dates" class="tab-pane fade">
                            <h3>Dates</h3>
                            <p>Some content.</p>
                        </div>
                        <div id="subtasks" class="tab-pane fade">
                            <h3>Subtasks</h3>
                            <p>Some content.</p>
                        </div>
                        <div id="comments" class="tab-pane fade">
                            <h3>Comments</h3>
                            <p>Some content.</p>
                        </div>
                        <div id="timelog" class="tab-pane fade">
                            <h3>Timelog</h3>
                            <p>Some content.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Save & close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script src="webjars/jquery/3.2.0/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="webjars/angularjs/1.6.2/angular.min.js"></script>
<script src="js/myApp.js"></script>
<script src="js/myCtrl.js"></script>

</body>
</html>
